/*Css varijable*/
:root {
    --glavna-boja: #2667FF;
  }
  /*html-body*/
  body{
    background-color:rgb(247, 247, 247); 
  }
/*sekcija-unos*/
.sekcija-unos{
    background-color:var(--glavna-boja);

    color:white;
}
.glavni-naslov{
    font-family: 'Lato', sans-serif; 
}
.submit-dugme{
    background-color:var(--glavna-boja);
    border:2px solid white;
    color:white;
}
.submit-dugme:hover{
    background-color:rgb(36, 93, 228);
}
.sekcija-bookmarks{
    background-color:var(--glavna-boja);
    
}
/*sekcija-bookmarks*/
.naslov-bookmarks{
    color:white;
    font-size:1.5em;
}
.pogledaj-sajt-dugme{
    background-color:var(--glavna-boja);
    color:white;
}
.pogledaj-sajt-dugme:hover{
    background-color:rgb(36, 93, 228);
    color:white;
}
