/*Sass varijable*/
/*html-body*/
body {
  background-color: #f7f7f7; }

/*sekcija-unos*/
.sekcija-unos {
  background-color: #477975;
  -webkit-box-shadow: 10px 10px 50px #a7a7a7;
  box-shadow: 10px 10px 50px #a7a7a7;
  color: white; }

.glavni-naslov {
  font-family: 'Lato', sans-serif; }

.submit-dugme {
  background-color: #477975;
  border: 2px solid white;
  color: white; }
  .submit-dugme :hover {
    background-color: #38615e; }

/*sekcija-bookmarks*/
.sekcija-bookmarks {
  background-color: #477975;
  -webkit-box-shadow: 10px 10px 50px #a7a7a7;
  box-shadow: 10px 10px 50px #a7a7a7; }

.naslov-bookmarks {
  color: white;
  font-size: 1.5em; }

.pogledaj-sajt-dugme {
  background-color: #1a56b1;
  color: white; }
  .pogledaj-sajt-dugme :hover {
    background-color: #174994;
    color: white; }
